<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<module xmlns="urn:jboss:module:1.5" name="sun.jdk" slot="1.8">
	<dependencies>
		<system export="true">
			<paths>
				<path name="com/oracle/net" />
				<path name="com/oracle/nio" />
				<path name="com/oracle/util" />
				<path name="com/oracle/webservices/internal/api" />
				<path name="com/oracle/webservices/internal/api/databinding" />
				<path name="com/oracle/webservices/internal/api/message" />
				<path name="com/oracle/webservices/internal/impl/encoding" />
				<path name="com/oracle/webservices/internal/impl/internalspi/encoding" />
				<path name="com/oracle/xmlns/internal/webservices/jaxws_databinding" />
				<path name="com/sun/accessibility/internal/resources" />
				<path name="com/sun/activation/registries" />
				<path name="com/sun/awt" />
				<path name="com/sun/beans" />
				<path name="com/sun/beans/decoder" />
				<path name="com/sun/beans/editors" />
				<path name="com/sun/beans/finder" />
				<path name="com/sun/beans/infos" />
				<path name="com/sun/beans/util" />
				<path name="com/sun/corba/se/impl/activation" />
				<path name="com/sun/corba/se/impl/copyobject" />
				<path name="com/sun/corba/se/impl/corba" />
				<path name="com/sun/corba/se/impl/dynamicany" />
				<path name="com/sun/corba/se/impl/encoding" />
				<path name="com/sun/corba/se/impl/interceptors" />
				<path name="com/sun/corba/se/impl/io" />
				<path name="com/sun/corba/se/impl/ior" />
				<path name="com/sun/corba/se/impl/ior/iiop" />
				<path name="com/sun/corba/se/impl/javax/rmi" />
				<path name="com/sun/corba/se/impl/javax/rmi/CORBA" />
				<path name="com/sun/corba/se/impl/legacy/connection" />
				<path name="com/sun/corba/se/impl/logging" />
				<path name="com/sun/corba/se/impl/monitoring" />
				<path name="com/sun/corba/se/impl/naming/cosnaming" />
				<path name="com/sun/corba/se/impl/naming/namingutil" />
				<path name="com/sun/corba/se/impl/naming/pcosnaming" />
				<path name="com/sun/corba/se/impl/oa" />
				<path name="com/sun/corba/se/impl/oa/poa" />
				<path name="com/sun/corba/se/impl/oa/toa" />
				<path name="com/sun/corba/se/impl/orb" />
				<path name="com/sun/corba/se/impl/orbutil" />
				<path name="com/sun/corba/se/impl/orbutil/closure" />
				<path name="com/sun/corba/se/impl/orbutil/concurrent" />
				<path name="com/sun/corba/se/impl/orbutil/fsm" />
				<path name="com/sun/corba/se/impl/orbutil/graph" />
				<path name="com/sun/corba/se/impl/orbutil/threadpool" />
				<path name="com/sun/corba/se/impl/presentation/rmi" />
				<path name="com/sun/corba/se/impl/protocol" />
				<path name="com/sun/corba/se/impl/protocol/giopmsgheaders" />
				<path name="com/sun/corba/se/impl/resolver" />
				<path name="com/sun/corba/se/impl/transport" />
				<path name="com/sun/corba/se/impl/util" />
				<path name="com/sun/corba/se/internal/CosNaming" />
				<path name="com/sun/corba/se/internal/Interceptors" />
				<path name="com/sun/corba/se/internal/POA" />
				<path name="com/sun/corba/se/internal/corba" />
				<path name="com/sun/corba/se/internal/iiop" />
				<path name="com/sun/corba/se/org/omg/CORBA" />
				<path name="com/sun/corba/se/pept/broker" />
				<path name="com/sun/corba/se/pept/encoding" />
				<path name="com/sun/corba/se/pept/protocol" />
				<path name="com/sun/corba/se/pept/transport" />
				<path name="com/sun/corba/se/spi/activation" />
				<path name="com/sun/corba/se/spi/activation/InitialNameServicePackage" />
				<path name="com/sun/corba/se/spi/activation/LocatorPackage" />
				<path name="com/sun/corba/se/spi/activation/RepositoryPackage" />
				<path name="com/sun/corba/se/spi/copyobject" />
				<path name="com/sun/corba/se/spi/encoding" />
				<path name="com/sun/corba/se/spi/extension" />
				<path name="com/sun/corba/se/spi/ior" />
				<path name="com/sun/corba/se/spi/ior/iiop" />
				<path name="com/sun/corba/se/spi/legacy/connection" />
				<path name="com/sun/corba/se/spi/legacy/interceptor" />
				<path name="com/sun/corba/se/spi/logging" />
				<path name="com/sun/corba/se/spi/monitoring" />
				<path name="com/sun/corba/se/spi/oa" />
				<path name="com/sun/corba/se/spi/orb" />
				<path name="com/sun/corba/se/spi/orbutil/closure" />
				<path name="com/sun/corba/se/spi/orbutil/fsm" />
				<path name="com/sun/corba/se/spi/orbutil/proxy" />
				<path name="com/sun/corba/se/spi/orbutil/threadpool" />
				<path name="com/sun/corba/se/spi/presentation/rmi" />
				<path name="com/sun/corba/se/spi/protocol" />
				<path name="com/sun/corba/se/spi/resolver" />
				<path name="com/sun/corba/se/spi/servicecontext" />
				<path name="com/sun/corba/se/spi/transport" />
				<path name="com/sun/demo/jvmti/hprof" />
				<path name="com/sun/image/codec/jpeg" />
				<path name="com/sun/imageio/plugins/bmp" />
				<path name="com/sun/imageio/plugins/common" />
				<path name="com/sun/imageio/plugins/gif" />
				<path name="com/sun/imageio/plugins/jpeg" />
				<path name="com/sun/imageio/plugins/png" />
				<path name="com/sun/imageio/plugins/wbmp" />
				<path name="com/sun/imageio/spi" />
				<path name="com/sun/imageio/stream" />
				<path name="com/sun/istack/internal" />
				<path name="com/sun/istack/internal/localization" />
				<path name="com/sun/istack/internal/logging" />
				<path name="com/sun/java/browser/dom" />
				<path name="com/sun/java/browser/net" />
				<path name="com/sun/java/swing" />
				<path name="com/sun/java/swing/plaf/gtk" />
				<path name="com/sun/java/swing/plaf/gtk/resources" />
				<path name="com/sun/java/swing/plaf/motif" />
				<path name="com/sun/java/swing/plaf/motif/resources" />
				<path name="com/sun/java/swing/plaf/nimbus" />
				<path name="com/sun/java/swing/plaf/windows" />
				<path name="com/sun/java/swing/plaf/windows/resources" />
				<path name="com/sun/java/util/jar/pack" />
				<path name="com/sun/java_cup/internal/runtime" />
				<path name="com/sun/jmx/defaults" />
				<path name="com/sun/jmx/interceptor" />
				<path name="com/sun/jmx/mbeanserver" />
				<path name="com/sun/jmx/remote/internal" />
				<path name="com/sun/jmx/remote/protocol/iiop" />
				<path name="com/sun/jmx/remote/protocol/rmi" />
				<path name="com/sun/jmx/remote/security" />
				<path name="com/sun/jmx/remote/util" />
				<path name="com/sun/jmx/snmp" />
				<path name="com/sun/jmx/snmp/IPAcl" />
				<path name="com/sun/jmx/snmp/agent" />
				<path name="com/sun/jmx/snmp/daemon" />
				<path name="com/sun/jmx/snmp/defaults" />
				<path name="com/sun/jmx/snmp/internal" />
				<path name="com/sun/jmx/snmp/mpm" />
				<path name="com/sun/jmx/snmp/tasks" />
				<path name="com/sun/jndi/cosnaming" />
				<path name="com/sun/jndi/dns" />
				<path name="com/sun/jndi/ldap" />
				<path name="com/sun/jndi/ldap/ext" />
				<path name="com/sun/jndi/ldap/pool" />
				<path name="com/sun/jndi/ldap/sasl" />
				<path name="com/sun/jndi/rmi/registry" />
				<path name="com/sun/jndi/toolkit/corba" />
				<path name="com/sun/jndi/toolkit/ctx" />
				<path name="com/sun/jndi/toolkit/dir" />
				<path name="com/sun/jndi/toolkit/url" />
				<path name="com/sun/jndi/url/corbaname" />
				<path name="com/sun/jndi/url/dns" />
				<path name="com/sun/jndi/url/iiop" />
				<path name="com/sun/jndi/url/iiopname" />
				<path name="com/sun/jndi/url/ldap" />
				<path name="com/sun/jndi/url/ldaps" />
				<path name="com/sun/jndi/url/rmi" />
				<path name="com/sun/management" />
				<path name="com/sun/management/jmx" />
				<path name="com/sun/media/sound" />
				<path name="com/sun/naming/internal" />
				<path name="com/sun/net/httpserver" />
				<path name="com/sun/net/httpserver/spi" />
				<path name="com/sun/net/ssl" />
				<path name="com/sun/net/ssl/internal/www/protocol/https" />
				<path name="com/sun/nio/file" />
				<path name="com/sun/nio/sctp" />
				<path name="com/sun/org/apache/bcel/internal" />
				<path name="com/sun/org/apache/bcel/internal/classfile" />
				<path name="com/sun/org/apache/bcel/internal/generic" />
				<path name="com/sun/org/apache/bcel/internal/util" />
				<path name="com/sun/org/apache/regexp/internal" />
				<path name="com/sun/org/apache/xalan/internal" />
				<path name="com/sun/org/apache/xalan/internal/extensions" />
				<path name="com/sun/org/apache/xalan/internal/lib" />
				<path name="com/sun/org/apache/xalan/internal/res" />
				<path name="com/sun/org/apache/xalan/internal/templates" />
				<path name="com/sun/org/apache/xalan/internal/utils" />
				<path name="com/sun/org/apache/xalan/internal/xslt" />
				<path name="com/sun/org/apache/xalan/internal/xsltc" />
				<path name="com/sun/org/apache/xalan/internal/xsltc/cmdline" />
				<path name="com/sun/org/apache/xalan/internal/xsltc/cmdline/getopt" />
				<path name="com/sun/org/apache/xalan/internal/xsltc/compiler" />
				<path name="com/sun/org/apache/xalan/internal/xsltc/compiler/util" />
				<path name="com/sun/org/apache/xalan/internal/xsltc/dom" />
				<path name="com/sun/org/apache/xalan/internal/xsltc/runtime" />
				<path name="com/sun/org/apache/xalan/internal/xsltc/runtime/output" />
				<path name="com/sun/org/apache/xalan/internal/xsltc/trax" />
				<path name="com/sun/org/apache/xalan/internal/xsltc/util" />
				<path name="com/sun/org/apache/xerces/internal/dom" />
				<path name="com/sun/org/apache/xerces/internal/dom/events" />
				<path name="com/sun/org/apache/xerces/internal/impl" />
				<path name="com/sun/org/apache/xerces/internal/impl/dtd" />
				<path name="com/sun/org/apache/xerces/internal/impl/dtd/models" />
				<path name="com/sun/org/apache/xerces/internal/impl/dv" />
				<path name="com/sun/org/apache/xerces/internal/impl/dv/dtd" />
				<path name="com/sun/org/apache/xerces/internal/impl/dv/util" />
				<path name="com/sun/org/apache/xerces/internal/impl/dv/xs" />
				<path name="com/sun/org/apache/xerces/internal/impl/io" />
				<path name="com/sun/org/apache/xerces/internal/impl/msg" />
				<path name="com/sun/org/apache/xerces/internal/impl/validation" />
				<path name="com/sun/org/apache/xerces/internal/impl/xpath" />
				<path name="com/sun/org/apache/xerces/internal/impl/xpath/regex" />
				<path name="com/sun/org/apache/xerces/internal/impl/xs" />
				<path name="com/sun/org/apache/xerces/internal/impl/xs/identity" />
				<path name="com/sun/org/apache/xerces/internal/impl/xs/models" />
				<path name="com/sun/org/apache/xerces/internal/impl/xs/opti" />
				<path name="com/sun/org/apache/xerces/internal/impl/xs/traversers" />
				<path name="com/sun/org/apache/xerces/internal/impl/xs/util" />
				<path name="com/sun/org/apache/xerces/internal/jaxp" />
				<path name="com/sun/org/apache/xerces/internal/jaxp/datatype" />
				<path name="com/sun/org/apache/xerces/internal/jaxp/validation" />
				<path name="com/sun/org/apache/xerces/internal/parsers" />
				<path name="com/sun/org/apache/xerces/internal/util" />
				<path name="com/sun/org/apache/xerces/internal/utils" />
				<path name="com/sun/org/apache/xerces/internal/xinclude" />
				<path name="com/sun/org/apache/xerces/internal/xni" />
				<path name="com/sun/org/apache/xerces/internal/xni/grammars" />
				<path name="com/sun/org/apache/xerces/internal/xni/parser" />
				<path name="com/sun/org/apache/xerces/internal/xpointer" />
				<path name="com/sun/org/apache/xerces/internal/xs" />
				<path name="com/sun/org/apache/xerces/internal/xs/datatypes" />
				<path name="com/sun/org/apache/xml/internal/dtm" />
				<path name="com/sun/org/apache/xml/internal/dtm/ref" />
				<path name="com/sun/org/apache/xml/internal/dtm/ref/dom2dtm" />
				<path name="com/sun/org/apache/xml/internal/dtm/ref/sax2dtm" />
				<path name="com/sun/org/apache/xml/internal/res" />
				<path name="com/sun/org/apache/xml/internal/resolver" />
				<path name="com/sun/org/apache/xml/internal/resolver/helpers" />
				<path name="com/sun/org/apache/xml/internal/resolver/readers" />
				<path name="com/sun/org/apache/xml/internal/resolver/tools" />
				<path name="com/sun/org/apache/xml/internal/security" />
				<path name="com/sun/org/apache/xml/internal/security/algorithms" />
				<path
					name="com/sun/org/apache/xml/internal/security/algorithms/implementations" />
				<path name="com/sun/org/apache/xml/internal/security/c14n" />
				<path name="com/sun/org/apache/xml/internal/security/c14n/helper" />
				<path
					name="com/sun/org/apache/xml/internal/security/c14n/implementations" />
				<path name="com/sun/org/apache/xml/internal/security/encryption" />
				<path name="com/sun/org/apache/xml/internal/security/exceptions" />
				<path name="com/sun/org/apache/xml/internal/security/keys" />
				<path name="com/sun/org/apache/xml/internal/security/keys/content" />
				<path
					name="com/sun/org/apache/xml/internal/security/keys/content/keyvalues" />
				<path name="com/sun/org/apache/xml/internal/security/keys/content/x509" />
				<path name="com/sun/org/apache/xml/internal/security/keys/keyresolver" />
				<path
					name="com/sun/org/apache/xml/internal/security/keys/keyresolver/implementations" />
				<path name="com/sun/org/apache/xml/internal/security/keys/storage" />
				<path
					name="com/sun/org/apache/xml/internal/security/keys/storage/implementations" />
				<path name="com/sun/org/apache/xml/internal/security/signature" />
				<path name="com/sun/org/apache/xml/internal/security/signature/reference" />
				<path name="com/sun/org/apache/xml/internal/security/transforms" />
				<path
					name="com/sun/org/apache/xml/internal/security/transforms/implementations" />
				<path name="com/sun/org/apache/xml/internal/security/transforms/params" />
				<path name="com/sun/org/apache/xml/internal/security/utils" />
				<path name="com/sun/org/apache/xml/internal/security/utils/resolver" />
				<path
					name="com/sun/org/apache/xml/internal/security/utils/resolver/implementations" />
				<path name="com/sun/org/apache/xml/internal/serialize" />
				<path name="com/sun/org/apache/xml/internal/serializer" />
				<path name="com/sun/org/apache/xml/internal/serializer/utils" />
				<path name="com/sun/org/apache/xml/internal/utils" />
				<path name="com/sun/org/apache/xml/internal/utils/res" />
				<path name="com/sun/org/apache/xpath/internal" />
				<path name="com/sun/org/apache/xpath/internal/axes" />
				<path name="com/sun/org/apache/xpath/internal/compiler" />
				<path name="com/sun/org/apache/xpath/internal/domapi" />
				<path name="com/sun/org/apache/xpath/internal/functions" />
				<path name="com/sun/org/apache/xpath/internal/jaxp" />
				<path name="com/sun/org/apache/xpath/internal/objects" />
				<path name="com/sun/org/apache/xpath/internal/operations" />
				<path name="com/sun/org/apache/xpath/internal/patterns" />
				<path name="com/sun/org/apache/xpath/internal/res" />
				<path name="com/sun/org/glassfish/external/amx" />
				<path name="com/sun/org/glassfish/external/arc" />
				<path name="com/sun/org/glassfish/external/probe/provider" />
				<path name="com/sun/org/glassfish/external/probe/provider/annotations" />
				<path name="com/sun/org/glassfish/external/statistics" />
				<path name="com/sun/org/glassfish/external/statistics/annotations" />
				<path name="com/sun/org/glassfish/external/statistics/impl" />
				<path name="com/sun/org/glassfish/gmbal" />
				<path name="com/sun/org/glassfish/gmbal/util" />
				<path name="com/sun/org/omg/CORBA" />
				<path name="com/sun/org/omg/CORBA/ValueDefPackage" />
				<path name="com/sun/org/omg/CORBA/portable" />
				<path name="com/sun/org/omg/SendingContext" />
				<path name="com/sun/org/omg/SendingContext/CodeBasePackage" />
				<path name="com/sun/rmi/rmid" />
				<path name="com/sun/rowset" />
				<path name="com/sun/rowset/internal" />
				<path name="com/sun/rowset/providers" />
				<path name="com/sun/security/auth" />
				<path name="com/sun/security/auth/callback" />
				<path name="com/sun/security/auth/login" />
				<path name="com/sun/security/auth/module" />
				<path name="com/sun/security/cert/internal/x509" />
				<path name="com/sun/security/jgss" />
				<path name="com/sun/security/ntlm" />
				<path name="com/sun/security/sasl" />
				<path name="com/sun/security/sasl/digest" />
				<path name="com/sun/security/sasl/gsskerb" />
				<path name="com/sun/security/sasl/ntlm" />
				<path name="com/sun/security/sasl/util" />
				<path name="com/sun/swing/internal/plaf/basic/resources" />
				<path name="com/sun/swing/internal/plaf/metal/resources" />
				<path name="com/sun/swing/internal/plaf/synth/resources" />
				<path name="com/sun/tracing" />
				<path name="com/sun/tracing/dtrace" />
				<path name="com/sun/xml/internal/bind" />
				<path name="com/sun/xml/internal/bind/annotation" />
				<path name="com/sun/xml/internal/bind/api" />
				<path name="com/sun/xml/internal/bind/api/impl" />
				<path name="com/sun/xml/internal/bind/marshaller" />
				<path name="com/sun/xml/internal/bind/unmarshaller" />
				<path name="com/sun/xml/internal/bind/util" />
				<path name="com/sun/xml/internal/bind/v2" />
				<path name="com/sun/xml/internal/bind/v2/bytecode" />
				<path name="com/sun/xml/internal/bind/v2/model/annotation" />
				<path name="com/sun/xml/internal/bind/v2/model/core" />
				<path name="com/sun/xml/internal/bind/v2/model/impl" />
				<path name="com/sun/xml/internal/bind/v2/model/nav" />
				<path name="com/sun/xml/internal/bind/v2/model/runtime" />
				<path name="com/sun/xml/internal/bind/v2/model/util" />
				<path name="com/sun/xml/internal/bind/v2/runtime" />
				<path name="com/sun/xml/internal/bind/v2/runtime/output" />
				<path name="com/sun/xml/internal/bind/v2/runtime/property" />
				<path name="com/sun/xml/internal/bind/v2/runtime/reflect" />
				<path name="com/sun/xml/internal/bind/v2/runtime/reflect/opt" />
				<path name="com/sun/xml/internal/bind/v2/runtime/unmarshaller" />
				<path name="com/sun/xml/internal/bind/v2/schemagen" />
				<path name="com/sun/xml/internal/bind/v2/schemagen/episode" />
				<path name="com/sun/xml/internal/bind/v2/schemagen/xmlschema" />
				<path name="com/sun/xml/internal/bind/v2/util" />
				<path name="com/sun/xml/internal/fastinfoset" />
				<path name="com/sun/xml/internal/fastinfoset/algorithm" />
				<path name="com/sun/xml/internal/fastinfoset/alphabet" />
				<path name="com/sun/xml/internal/fastinfoset/dom" />
				<path name="com/sun/xml/internal/fastinfoset/org/apache/xerces/util" />
				<path name="com/sun/xml/internal/fastinfoset/sax" />
				<path name="com/sun/xml/internal/fastinfoset/stax" />
				<path name="com/sun/xml/internal/fastinfoset/stax/events" />
				<path name="com/sun/xml/internal/fastinfoset/stax/factory" />
				<path name="com/sun/xml/internal/fastinfoset/stax/util" />
				<path name="com/sun/xml/internal/fastinfoset/tools" />
				<path name="com/sun/xml/internal/fastinfoset/util" />
				<path name="com/sun/xml/internal/fastinfoset/vocab" />
				<path name="com/sun/xml/internal/messaging/saaj" />
				<path name="com/sun/xml/internal/messaging/saaj/client/p2p" />
				<path name="com/sun/xml/internal/messaging/saaj/packaging/mime" />
				<path name="com/sun/xml/internal/messaging/saaj/packaging/mime/internet" />
				<path name="com/sun/xml/internal/messaging/saaj/packaging/mime/util" />
				<path name="com/sun/xml/internal/messaging/saaj/soap" />
				<path name="com/sun/xml/internal/messaging/saaj/soap/dynamic" />
				<path name="com/sun/xml/internal/messaging/saaj/soap/impl" />
				<path name="com/sun/xml/internal/messaging/saaj/soap/name" />
				<path name="com/sun/xml/internal/messaging/saaj/soap/ver1_1" />
				<path name="com/sun/xml/internal/messaging/saaj/soap/ver1_2" />
				<path name="com/sun/xml/internal/messaging/saaj/util" />
				<path name="com/sun/xml/internal/messaging/saaj/util/transform" />
				<path name="com/sun/xml/internal/org/jvnet/fastinfoset" />
				<path name="com/sun/xml/internal/org/jvnet/fastinfoset/sax" />
				<path name="com/sun/xml/internal/org/jvnet/fastinfoset/sax/helpers" />
				<path name="com/sun/xml/internal/org/jvnet/fastinfoset/stax" />
				<path name="com/sun/xml/internal/org/jvnet/mimepull" />
				<path name="com/sun/xml/internal/org/jvnet/staxex" />
				<path name="com/sun/xml/internal/stream" />
				<path name="com/sun/xml/internal/stream/buffer" />
				<path name="com/sun/xml/internal/stream/buffer/sax" />
				<path name="com/sun/xml/internal/stream/buffer/stax" />
				<path name="com/sun/xml/internal/stream/dtd" />
				<path name="com/sun/xml/internal/stream/dtd/nonvalidating" />
				<path name="com/sun/xml/internal/stream/events" />
				<path name="com/sun/xml/internal/stream/util" />
				<path name="com/sun/xml/internal/stream/writers" />
				<path name="com/sun/xml/internal/txw2" />
				<path name="com/sun/xml/internal/txw2/annotation" />
				<path name="com/sun/xml/internal/txw2/output" />
				<path name="com/sun/xml/internal/ws" />
				<path name="com/sun/xml/internal/ws/addressing" />
				<path name="com/sun/xml/internal/ws/addressing/model" />
				<path name="com/sun/xml/internal/ws/addressing/policy" />
				<path name="com/sun/xml/internal/ws/addressing/v200408" />
				<path name="com/sun/xml/internal/ws/api" />
				<path name="com/sun/xml/internal/ws/api/addressing" />
				<path name="com/sun/xml/internal/ws/api/client" />
				<path name="com/sun/xml/internal/ws/api/config/management" />
				<path name="com/sun/xml/internal/ws/api/config/management/policy" />
				<path name="com/sun/xml/internal/ws/api/databinding" />
				<path name="com/sun/xml/internal/ws/api/fastinfoset" />
				<path name="com/sun/xml/internal/ws/api/ha" />
				<path name="com/sun/xml/internal/ws/api/handler" />
				<path name="com/sun/xml/internal/ws/api/message" />
				<path name="com/sun/xml/internal/ws/api/message/saaj" />
				<path name="com/sun/xml/internal/ws/api/message/stream" />
				<path name="com/sun/xml/internal/ws/api/model" />
				<path name="com/sun/xml/internal/ws/api/model/soap" />
				<path name="com/sun/xml/internal/ws/api/model/wsdl" />
				<path name="com/sun/xml/internal/ws/api/model/wsdl/editable" />
				<path name="com/sun/xml/internal/ws/api/pipe" />
				<path name="com/sun/xml/internal/ws/api/pipe/helper" />
				<path name="com/sun/xml/internal/ws/api/policy" />
				<path name="com/sun/xml/internal/ws/api/policy/subject" />
				<path name="com/sun/xml/internal/ws/api/server" />
				<path name="com/sun/xml/internal/ws/api/streaming" />
				<path name="com/sun/xml/internal/ws/api/wsdl/parser" />
				<path name="com/sun/xml/internal/ws/api/wsdl/writer" />
				<path name="com/sun/xml/internal/ws/assembler" />
				<path name="com/sun/xml/internal/ws/assembler/dev" />
				<path name="com/sun/xml/internal/ws/assembler/jaxws" />
				<path name="com/sun/xml/internal/ws/binding" />
				<path name="com/sun/xml/internal/ws/client" />
				<path name="com/sun/xml/internal/ws/client/dispatch" />
				<path name="com/sun/xml/internal/ws/client/sei" />
				<path name="com/sun/xml/internal/ws/commons/xmlutil" />
				<path name="com/sun/xml/internal/ws/config/management/policy" />
				<path name="com/sun/xml/internal/ws/config/metro/dev" />
				<path name="com/sun/xml/internal/ws/config/metro/util" />
				<path name="com/sun/xml/internal/ws/db" />
				<path name="com/sun/xml/internal/ws/db/glassfish" />
				<path name="com/sun/xml/internal/ws/developer" />
				<path name="com/sun/xml/internal/ws/dump" />
				<path name="com/sun/xml/internal/ws/encoding" />
				<path name="com/sun/xml/internal/ws/encoding/fastinfoset" />
				<path name="com/sun/xml/internal/ws/encoding/policy" />
				<path name="com/sun/xml/internal/ws/encoding/soap" />
				<path name="com/sun/xml/internal/ws/encoding/soap/streaming" />
				<path name="com/sun/xml/internal/ws/encoding/xml" />
				<path name="com/sun/xml/internal/ws/fault" />
				<path name="com/sun/xml/internal/ws/handler" />
				<path name="com/sun/xml/internal/ws/message" />
				<path name="com/sun/xml/internal/ws/message/jaxb" />
				<path name="com/sun/xml/internal/ws/message/saaj" />
				<path name="com/sun/xml/internal/ws/message/source" />
				<path name="com/sun/xml/internal/ws/message/stream" />
				<path name="com/sun/xml/internal/ws/model" />
				<path name="com/sun/xml/internal/ws/model/soap" />
				<path name="com/sun/xml/internal/ws/model/wsdl" />
				<path name="com/sun/xml/internal/ws/org/objectweb/asm" />
				<path name="com/sun/xml/internal/ws/policy" />
				<path name="com/sun/xml/internal/ws/policy/jaxws" />
				<path name="com/sun/xml/internal/ws/policy/jaxws/spi" />
				<path name="com/sun/xml/internal/ws/policy/privateutil" />
				<path name="com/sun/xml/internal/ws/policy/sourcemodel" />
				<path name="com/sun/xml/internal/ws/policy/sourcemodel/attach" />
				<path name="com/sun/xml/internal/ws/policy/sourcemodel/wspolicy" />
				<path name="com/sun/xml/internal/ws/policy/spi" />
				<path name="com/sun/xml/internal/ws/policy/subject" />
				<path name="com/sun/xml/internal/ws/protocol/soap" />
				<path name="com/sun/xml/internal/ws/protocol/xml" />
				<path name="com/sun/xml/internal/ws/resources" />
				<path name="com/sun/xml/internal/ws/runtime/config" />
				<path name="com/sun/xml/internal/ws/server" />
				<path name="com/sun/xml/internal/ws/server/provider" />
				<path name="com/sun/xml/internal/ws/server/sei" />
				<path name="com/sun/xml/internal/ws/spi" />
				<path name="com/sun/xml/internal/ws/spi/db" />
				<path name="com/sun/xml/internal/ws/streaming" />
				<path name="com/sun/xml/internal/ws/transport" />
				<path name="com/sun/xml/internal/ws/transport/http" />
				<path name="com/sun/xml/internal/ws/transport/http/client" />
				<path name="com/sun/xml/internal/ws/transport/http/server" />
				<path name="com/sun/xml/internal/ws/util" />
				<path name="com/sun/xml/internal/ws/util/exception" />
				<path name="com/sun/xml/internal/ws/util/pipe" />
				<path name="com/sun/xml/internal/ws/util/xml" />
				<path name="com/sun/xml/internal/ws/wsdl" />
				<path name="com/sun/xml/internal/ws/wsdl/parser" />
				<path name="com/sun/xml/internal/ws/wsdl/writer" />
				<path name="com/sun/xml/internal/ws/wsdl/writer/document" />
				<path name="com/sun/xml/internal/ws/wsdl/writer/document/http" />
				<path name="com/sun/xml/internal/ws/wsdl/writer/document/soap" />
				<path name="com/sun/xml/internal/ws/wsdl/writer/document/soap12" />
				<path name="com/sun/xml/internal/ws/wsdl/writer/document/xsd" />
				<path name="java/applet" />
				<path name="java/awt" />
				<path name="java/awt/color" />
				<path name="java/awt/datatransfer" />
				<path name="java/awt/dnd" />
				<path name="java/awt/dnd/peer" />
				<path name="java/awt/event" />
				<path name="java/awt/font" />
				<path name="java/awt/geom" />
				<path name="java/awt/im" />
				<path name="java/awt/im/spi" />
				<path name="java/awt/image" />
				<path name="java/awt/image/renderable" />
				<path name="java/awt/peer" />
				<path name="java/awt/print" />
				<path name="java/beans" />
				<path name="java/beans/beancontext" />
				<path name="java/io" />
				<path name="java/lang" />
				<path name="java/lang/annotation" />
				<path name="java/lang/instrument" />
				<path name="java/lang/invoke" />
				<path name="java/lang/management" />
				<path name="java/lang/ref" />
				<path name="java/lang/reflect" />
				<path name="java/math" />
				<path name="java/net" />
				<path name="java/nio" />
				<path name="java/nio/channels" />
				<path name="java/nio/channels/spi" />
				<path name="java/nio/charset" />
				<path name="java/nio/charset/spi" />
				<path name="java/nio/file" />
				<path name="java/nio/file/attribute" />
				<path name="java/nio/file/spi" />
				<path name="java/rmi" />
				<path name="java/rmi/activation" />
				<path name="java/rmi/dgc" />
				<path name="java/rmi/registry" />
				<path name="java/rmi/server" />
				<path name="java/security" />
				<path name="java/security/acl" />
				<path name="java/security/cert" />
				<path name="java/security/interfaces" />
				<path name="java/security/spec" />
				<path name="java/sql" />
				<path name="java/text" />
				<path name="java/text/spi" />
				<path name="java/time" />
				<path name="java/time/chrono" />
				<path name="java/time/format" />
				<path name="java/time/temporal" />
				<path name="java/time/zone" />
				<path name="java/util" />
				<path name="java/util/concurrent" />
				<path name="java/util/concurrent/atomic" />
				<path name="java/util/concurrent/locks" />
				<path name="java/util/function" />
				<path name="java/util/jar" />
				<path name="java/util/logging" />
				<path name="java/util/prefs" />
				<path name="java/util/regex" />
				<path name="java/util/spi" />
				<path name="java/util/stream" />
				<path name="java/util/zip" />
				<path name="javax/accessibility" />
				<path name="javax/activation" />
				<path name="javax/activity" />
				<path name="javax/annotation" />
				<path name="javax/annotation/processing" />
				<path name="javax/imageio" />
				<path name="javax/imageio/event" />
				<path name="javax/imageio/metadata" />
				<path name="javax/imageio/plugins/bmp" />
				<path name="javax/imageio/plugins/jpeg" />
				<path name="javax/imageio/spi" />
				<path name="javax/imageio/stream" />
				<path name="javax/jws" />
				<path name="javax/jws/soap" />
				<path name="javax/lang/model" />
				<path name="javax/lang/model/element" />
				<path name="javax/lang/model/type" />
				<path name="javax/lang/model/util" />
				<path name="javax/management" />
				<path name="javax/management/loading" />
				<path name="javax/management/modelmbean" />
				<path name="javax/management/monitor" />
				<path name="javax/management/openmbean" />
				<path name="javax/management/relation" />
				<path name="javax/management/remote" />
				<path name="javax/management/remote/rmi" />
				<path name="javax/management/timer" />
				<path name="javax/naming" />
				<path name="javax/naming/directory" />
				<path name="javax/naming/event" />
				<path name="javax/naming/ldap" />
				<path name="javax/naming/spi" />
				<path name="javax/net" />
				<path name="javax/net/ssl" />
				<path name="javax/print" />
				<path name="javax/print/attribute" />
				<path name="javax/print/attribute/standard" />
				<path name="javax/print/event" />
				<path name="javax/rmi" />
				<path name="javax/rmi/CORBA" />
				<path name="javax/rmi/ssl" />
				<path name="javax/script" />
				<path name="javax/security/auth" />
				<path name="javax/security/auth/callback" />
				<path name="javax/security/auth/kerberos" />
				<path name="javax/security/auth/login" />
				<path name="javax/security/auth/spi" />
				<path name="javax/security/auth/x500" />
				<path name="javax/security/cert" />
				<path name="javax/security/sasl" />
				<path name="javax/smartcardio" />
				<path name="javax/sound/midi" />
				<path name="javax/sound/midi/spi" />
				<path name="javax/sound/sampled" />
				<path name="javax/sound/sampled/spi" />
				<path name="javax/sql" />
				<path name="javax/sql/rowset" />
				<path name="javax/sql/rowset/serial" />
				<path name="javax/sql/rowset/spi" />
				<path name="javax/swing" />
				<path name="javax/swing/border" />
				<path name="javax/swing/colorchooser" />
				<path name="javax/swing/event" />
				<path name="javax/swing/filechooser" />
				<path name="javax/swing/plaf" />
				<path name="javax/swing/plaf/basic" />
				<path name="javax/swing/plaf/metal" />
				<path name="javax/swing/plaf/multi" />
				<path name="javax/swing/plaf/nimbus" />
				<path name="javax/swing/plaf/synth" />
				<path name="javax/swing/table" />
				<path name="javax/swing/text" />
				<path name="javax/swing/text/html" />
				<path name="javax/swing/text/html/parser" />
				<path name="javax/swing/text/rtf" />
				<path name="javax/swing/tree" />
				<path name="javax/swing/undo" />
				<path name="javax/tools" />
				<path name="javax/transaction" />
				<path name="javax/transaction/xa" />
				<path name="javax/xml" />
				<path name="javax/xml/bind" />
				<path name="javax/xml/bind/annotation" />
				<path name="javax/xml/bind/annotation/adapters" />
				<path name="javax/xml/bind/attachment" />
				<path name="javax/xml/bind/helpers" />
				<path name="javax/xml/bind/util" />
				<path name="javax/xml/crypto" />
				<path name="javax/xml/crypto/dom" />
				<path name="javax/xml/crypto/dsig" />
				<path name="javax/xml/crypto/dsig/dom" />
				<path name="javax/xml/crypto/dsig/keyinfo" />
				<path name="javax/xml/crypto/dsig/spec" />
				<path name="javax/xml/datatype" />
				<path name="javax/xml/namespace" />
				<path name="javax/xml/parsers" />
				<path name="javax/xml/soap" />
				<path name="javax/xml/stream" />
				<path name="javax/xml/stream/events" />
				<path name="javax/xml/stream/util" />
				<path name="javax/xml/transform" />
				<path name="javax/xml/transform/dom" />
				<path name="javax/xml/transform/sax" />
				<path name="javax/xml/transform/stax" />
				<path name="javax/xml/transform/stream" />
				<path name="javax/xml/validation" />
				<path name="javax/xml/ws" />
				<path name="javax/xml/ws/handler" />
				<path name="javax/xml/ws/handler/soap" />
				<path name="javax/xml/ws/http" />
				<path name="javax/xml/ws/soap" />
				<path name="javax/xml/ws/spi" />
				<path name="javax/xml/ws/spi/http" />
				<path name="javax/xml/ws/wsaddressing" />
				<path name="javax/xml/xpath" />
				<path name="jdk" />
				<path name="jdk/internal/cmm" />
				<path name="jdk/internal/instrumentation" />
				<path name="jdk/internal/org/objectweb/asm" />
				<path name="jdk/internal/org/objectweb/asm/commons" />
				<path name="jdk/internal/org/objectweb/asm/signature" />
				<path name="jdk/internal/org/objectweb/asm/tree" />
				<path name="jdk/internal/org/objectweb/asm/tree/analysis" />
				<path name="jdk/internal/org/objectweb/asm/util" />
				<path name="jdk/internal/org/xml/sax" />
				<path name="jdk/internal/org/xml/sax/helpers" />
				<path name="jdk/internal/util/xml" />
				<path name="jdk/internal/util/xml/impl" />
				<path name="jdk/management/cmm" />
				<path name="jdk/management/resource" />
				<path name="jdk/management/resource/internal" />
				<path name="jdk/management/resource/internal/inst" />
				<path name="jdk/net" />
				<path name="org/ietf/jgss" />
				<path name="org/jcp/xml/dsig/internal" />
				<path name="org/jcp/xml/dsig/internal/dom" />
				<path name="org/omg/CORBA" />
				<path name="org/omg/CORBA/DynAnyPackage" />
				<path name="org/omg/CORBA/ORBPackage" />
				<path name="org/omg/CORBA/TypeCodePackage" />
				<path name="org/omg/CORBA/portable" />
				<path name="org/omg/CORBA_2_3" />
				<path name="org/omg/CORBA_2_3/portable" />
				<path name="org/omg/CosNaming" />
				<path name="org/omg/CosNaming/NamingContextExtPackage" />
				<path name="org/omg/CosNaming/NamingContextPackage" />
				<path name="org/omg/Dynamic" />
				<path name="org/omg/DynamicAny" />
				<path name="org/omg/DynamicAny/DynAnyFactoryPackage" />
				<path name="org/omg/DynamicAny/DynAnyPackage" />
				<path name="org/omg/IOP" />
				<path name="org/omg/IOP/CodecFactoryPackage" />
				<path name="org/omg/IOP/CodecPackage" />
				<path name="org/omg/Messaging" />
				<path name="org/omg/PortableInterceptor" />
				<path name="org/omg/PortableInterceptor/ORBInitInfoPackage" />
				<path name="org/omg/PortableServer" />
				<path name="org/omg/PortableServer/CurrentPackage" />
				<path name="org/omg/PortableServer/POAManagerPackage" />
				<path name="org/omg/PortableServer/POAPackage" />
				<path name="org/omg/PortableServer/ServantLocatorPackage" />
				<path name="org/omg/PortableServer/portable" />
				<path name="org/omg/SendingContext" />
				<path name="org/omg/stub/java/rmi" />
				<path name="org/omg/stub/javax/management/remote/rmi" />
				<path name="org/w3c/dom" />
				<path name="org/w3c/dom/bootstrap" />
				<path name="org/w3c/dom/css" />
				<path name="org/w3c/dom/events" />
				<path name="org/w3c/dom/html" />
				<path name="org/w3c/dom/ls" />
				<path name="org/w3c/dom/ranges" />
				<path name="org/w3c/dom/stylesheets" />
				<path name="org/w3c/dom/traversal" />
				<path name="org/w3c/dom/views" />
				<path name="org/w3c/dom/xpath" />
				<path name="org/xml/sax" />
				<path name="org/xml/sax/ext" />
				<path name="org/xml/sax/helpers" />
				<path name="sun/applet" />
				<path name="sun/applet/resources" />
				<path name="sun/audio" />
				<path name="sun/awt" />
				<path name="sun/awt/X11" />
				<path name="sun/awt/datatransfer" />
				<path name="sun/awt/dnd" />
				<path name="sun/awt/event" />
				<path name="sun/awt/geom" />
				<path name="sun/awt/im" />
				<path name="sun/awt/image" />
				<path name="sun/awt/image/codec" />
				<path name="sun/awt/motif" />
				<path name="sun/awt/resources" />
				<path name="sun/awt/shell" />
				<path name="sun/awt/util" />
				<path name="sun/awt/windows" />
				<path name="sun/corba" />
				<path name="sun/dc" />
				<path name="sun/dc/path" />
				<path name="sun/dc/pr" />
				<path name="sun/font" />
				<path name="sun/instrument" />
				<path name="sun/invoke" />
				<path name="sun/invoke/empty" />
				<path name="sun/invoke/util" />
				<path name="sun/java2d" />
				<path name="sun/java2d/cmm" />
				<path name="sun/java2d/cmm/kcms" />
				<path name="sun/java2d/cmm/lcms" />
				<path name="sun/java2d/jules" />
				<path name="sun/java2d/loops" />
				<path name="sun/java2d/opengl" />
				<path name="sun/java2d/pipe" />
				<path name="sun/java2d/pipe/hw" />
				<path name="sun/java2d/pisces" />
				<path name="sun/java2d/x11" />
				<path name="sun/java2d/xr" />
				<path name="sun/launcher" />
				<path name="sun/launcher/resources" />
				<path name="sun/management" />
				<path name="sun/management/counter" />
				<path name="sun/management/counter/perf" />
				<path name="sun/management/jdp" />
				<path name="sun/management/jmxremote" />
				<path name="sun/management/resources" />
				<path name="sun/management/snmp" />
				<path name="sun/management/snmp/jvminstr" />
				<path name="sun/management/snmp/jvmmib" />
				<path name="sun/management/snmp/util" />
				<path name="sun/misc" />
				<path name="sun/misc/resources" />
				<path name="sun/net" />
				<path name="sun/net/dns" />
				<path name="sun/net/ftp" />
				<path name="sun/net/ftp/impl" />
				<path name="sun/net/httpserver" />
				<path name="sun/net/idn" />
				<path name="sun/net/sdp" />
				<path name="sun/net/smtp" />
				<path name="sun/net/spi" />
				<path name="sun/net/spi/nameservice" />
				<path name="sun/net/util" />
				<path name="sun/net/www" />
				<path name="sun/net/www/content/audio" />
				<path name="sun/net/www/content/image" />
				<path name="sun/net/www/content/text" />
				<path name="sun/net/www/http" />
				<path name="sun/net/www/protocol/file" />
				<path name="sun/net/www/protocol/ftp" />
				<path name="sun/net/www/protocol/http" />
				<path name="sun/net/www/protocol/http/logging" />
				<path name="sun/net/www/protocol/http/ntlm" />
				<path name="sun/net/www/protocol/http/spnego" />
				<path name="sun/net/www/protocol/https" />
				<path name="sun/net/www/protocol/jar" />
				<path name="sun/net/www/protocol/mailto" />
				<path name="sun/net/www/protocol/netdoc" />
				<path name="sun/nio" />
				<path name="sun/nio/ch" />
				<path name="sun/nio/ch/sctp" />
				<path name="sun/nio/cs" />
				<path name="sun/nio/fs" />
				<path name="sun/print" />
				<path name="sun/print/resources" />
				<path name="sun/reflect" />
				<path name="sun/reflect/annotation" />
				<path name="sun/reflect/generics/factory" />
				<path name="sun/reflect/generics/parser" />
				<path name="sun/reflect/generics/reflectiveObjects" />
				<path name="sun/reflect/generics/repository" />
				<path name="sun/reflect/generics/scope" />
				<path name="sun/reflect/generics/tree" />
				<path name="sun/reflect/generics/visitor" />
				<path name="sun/reflect/misc" />
				<path name="sun/rmi/log" />
				<path name="sun/rmi/registry" />
				<path name="sun/rmi/runtime" />
				<path name="sun/rmi/server" />
				<path name="sun/rmi/transport" />
				<path name="sun/rmi/transport/proxy" />
				<path name="sun/rmi/transport/tcp" />
				<path name="sun/security/acl" />
				<path name="sun/security/action" />
				<path name="sun/security/jca" />
				<path name="sun/security/jgss" />
				<path name="sun/security/jgss/krb5" />
				<path name="sun/security/jgss/spi" />
				<path name="sun/security/jgss/spnego" />
				<path name="sun/security/jgss/wrapper" />
				<path name="sun/security/krb5" />
				<path name="sun/security/krb5/internal" />
				<path name="sun/security/krb5/internal/ccache" />
				<path name="sun/security/krb5/internal/crypto" />
				<path name="sun/security/krb5/internal/crypto/dk" />
				<path name="sun/security/krb5/internal/ktab" />
				<path name="sun/security/krb5/internal/rcache" />
				<path name="sun/security/krb5/internal/util" />
				<path name="sun/security/pkcs" />
				<path name="sun/security/pkcs10" />
				<path name="sun/security/pkcs12" />
				<path name="sun/security/provider" />
				<path name="sun/security/provider/certpath" />
				<path name="sun/security/provider/certpath/ldap" />
				<path name="sun/security/provider/certpath/ssl" />
				<path name="sun/security/rsa" />
				<path name="sun/security/smartcardio" />
				<path name="sun/security/timestamp" />
				<path name="sun/security/tools" />
				<path name="sun/security/tools/keytool" />
				<path name="sun/security/tools/policytool" />
				<path name="sun/security/util" />
				<path name="sun/security/validator" />
				<path name="sun/security/x509" />
				<path name="sun/swing" />
				<path name="sun/swing/icon" />
				<path name="sun/swing/plaf" />
				<path name="sun/swing/plaf/synth" />
				<path name="sun/swing/plaf/windows" />
				<path name="sun/swing/table" />
				<path name="sun/swing/text" />
				<path name="sun/swing/text/html" />
				<path name="sun/text" />
				<path name="sun/text/bidi" />
				<path name="sun/text/normalizer" />
				<path name="sun/text/resources" />
				<path name="sun/text/resources/en" />
				<path name="sun/tools/jar" />
				<path name="sun/tools/jar/resources" />
				<path name="sun/tracing" />
				<path name="sun/tracing/dtrace" />
				<path name="sun/usagetracker" />
				<path name="sun/util" />
				<path name="sun/util/calendar" />
				<path name="sun/util/cldr" />
				<path name="sun/util/locale" />
				<path name="sun/util/locale/provider" />
				<path name="sun/util/logging" />
				<path name="sun/util/logging/resources" />
				<path name="sun/util/resources" />
				<path name="sun/util/resources/en" />
				<path name="sun/util/spi" />
				<path name="sun/util/xml" />
			</paths>
		</system>
	</dependencies>
</module>
