<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="org.jboss.modules" slot="1.5.2">
		
	<dependencies>
		<system export="true">
            <paths>                     	
            	<!-- jboss modules -->
            	<path name="__redirected" />
            	<path name="org/jboss/modules" />
            	<path name="org/jboss/modules/_private" />
            	<path name="org/jboss/modules/filter" />
            	<path name="org/jboss/modules/log" />
            	<path name="org/jboss/modules/management" />
            	<path name="org/jboss/modules/maven" />
            	<path name="org/jboss/modules/ref" />
            	<path name="org/jboss/modules/security" />
            	<path name="org/jboss/modules/xml" />
            	
            	           	      
            	<!-- massyframework modules api -->
            	<path name="org/massyframework/modules" />
            	            	
            </paths>
        </system>        
	</dependencies>
</module>