<?xml version="1.0" encoding="UTF-8"?>
<assembly xmlns="http://www.massyframework.org/schema/assembly"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.massyframework.org/schema/assembly
		http://www.massyframework.org/schema/assembly/assembly.xsd ">
		
	<symbolicName>test.spring.standalone</symbolicName>
	<name>测试-Spring装配件上下文</name>
	<description>为系统提供装配件所需的各种基础设施，包括初始化参数、服务、依赖管理等</description>
	<vendor>smarabbit</vendor>
	<assemblyContext>spring</assemblyContext>
	
	<init-params>
		<parameter key="contextConfigLocation"  
			value="classpath:test/standalone.xml" />
	</init-params>
	
	<!-- 依赖服务 -->
	<dependency-service cName="executor">
		<class>java.util.concurrent.ExecutorService</class>
	</dependency-service>
	
	<dependency-service cName="speak">
		<class>org.massyframework.assembly.tester.support.Speak</class>
	</dependency-service>
</assembly>