<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="org.massyframework.assembly" slot="main">
	
	<resources>
		<resource-root path="../../../../../../../../../../../../assembly/assembly-api/target/classes" />
		<resource-root path="../../../../../../../../../../../../assembly/assembly-packages/target/classes" />
		<resource-root path="../../../../../../../../../../../modules-core/target/classes" />
	</resources>
	
	<dependencies>
		        
        <module name="javax.servlet" slot="3.1" />
        
        <module name="org.apache.commons.lang3" slot="3.5" />
        <module name="org.jboss.modules" slot="1.5.2" />
        
        <module name="org.springframework" slot="4.3.5.RELEASE" />
        
        <module name="org.slf4j" slot="main" />
        <module name="sun.jdk" slot="1.8" />
        
	</dependencies>
</module>