<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="org.massyframework.assembly" slot="main">
	
	<resources>
		<resource-root path="../../../../../../../../../../../../assembly/assembly-api/target/classes" />
		<resource-root path="../../../../../../../../../../../../assembly/assembly-packages/target/classes" />
		<resource-root path="../../../../../../../../../../../modules-core/target/classes" />
	</resources>
	
	
	<dependencies>
		        
        <module name="javax.servlet" slot="3.1" />
        
        <module name="org.apache.commons.lang3" slot="3.5" />
        <module name="org.jboss.modules" slot="1.5.2" export="true" />
        
        <module name="org.springframework" slot="4.3.5.RELEASE" >
        	<imports>
				<include path="META-INF**" />
				<include path="org**" />
			</imports>
        </module>    
        <module name="org.apache.struts2" slot="2.5.x" >
        	<imports>
				<include path="META-INF**" />
				<include path="org**" />
			</imports>
        </module>        
        <module name="org.slf4j" slot="main" />
        <module name="sun.jdk" slot="1.8" />
        
        <module name="org.apache.jasper" slot="main">
        	<imports>
				<exclude path="javax/servlet/**" />
        	</imports>
        </module>	
        <module name="javax.servlet.jsp.jstl" slot="1.2.x" />
        	
	</dependencies>
</module>