<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="org.apache.commons.fileupload" slot="1.3.x">
	
	<resources>
		<resource-root path="commons-fileupload-1.3.2.jar" />
	</resources>
	
	<dependencies>
		<module name="org.apache.commons.io" slot="2.5" />
	</dependencies>
	
</module>