<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="javax.servlet.jsp.jstl" slot="1.2.x">
	
	<resources>
		<resource-root path="taglibs-standard-impl-1.2.5.jar" />
		<resource-root path="taglibs-standard-spec-1.2.5.jar" />
	</resources>
	<dependencies>
		<module name="javax.servlet" slot="3.1" />
		<module name="sun.jdk" slot="1.8" />
	</dependencies>

</module>